body {
  font-family: -apple-system , Segoe UI , Roboto , Oxygen , Helvetica Neue , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  max-height: 100vh;
}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , Courier New , monospace;
}
